@media (min-width: 979px) {
    .header {
        height: 60px;
    }
}

body {
	background-color:#FFF;
  font-family: 'ProximaNova-Regular';
}

#back-button {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 90px;
	left: 25px;
}

/*  TOP NAV  */

.nav > li > a {
	height:25px;
}



/*  SIDE NAV  */

.nav-pills > li > a {
padding: 8px 12px 0px;
margin: 2px 2px 0 0;
line-height: none;
}

.nav-pills > .active,
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
color: #ffffff;
}

a {
color:#717171;
}

a:hover {
color:#606060;
text-decoration: none;
}

.nav-pills.nav-stacked > li > a:active {
color:#fff;
}

.label-inverse, .badge-inverse {
background-color: #717171;
}

#mainNavTargetS {
  line-height: 230%;
}

.nav-stacked li {
  margin-left: 10px;
}

h1, h2, h3, h4 {
font-family: 'ProximaNova-Semibold';
}




/*  CONTENT  */

ul, ol {
padding: 0;
margin: 0 10px 0 10px;
}

.liDetail, .liDetail > h3 {
	color: #717171;
	text-shadow: 0 1px 0 #ffffff;
}

.liDetail > h3 {
    font-size: 20px;
    line-height:22px;
    margin:0px;
    padding: 5px 0px 0px;
}

.liDetail {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 80%,  from(#f9f9f9), to(#e1e1e1));
    list-style-type: none;
    padding: 5px 10px 1px;
    margin: 0px;
}

.unread > a:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 80%,  from(#e1e1e1), to(#d0d0d0));
}

.unread, .unread > h3 {
  text-shadow:none;
  color:#fff;
}

.liDetail:first-child {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.liDetail:last-child {
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.header .back-button {
position: absolute;
top: 20px;
left: 20px;
}

.btn-link:active {
  text-decoration: none;
}

div#second-page-content.content {
	padding:20px;
}

#pagetwo.header {
  height: 60px;
}

#second-page-content h1, h2, h3, h4 {
  margin-bottom: 0px;
}

#second-page-content h2, h3, h4 {
  font-family: 'ProximaNova-Regular';
}

.BrightcoveExperience {
  width: 85%;
  height: 85%;
}