.nav-pills > .active > a {
  background-color: #C0D53C
}

.nav-pills > .active > a:hover {
  background-color: #C0D53C
}

.unread {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 75%,  from(#FFFFFF), to(#C0D53C));
}

