.nav-pills > .active > a {
  background-color: #b8cc3a;
}

.nav-pills > .active > a:hover {
  background-color: #b8cc3a;
}

.unread {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 80%,  from(#d1dc35), to(#9fbc3f));
}
