.nav-pills > .active > a {
  background-color: #489AA3
}

.nav-pills > .active > a:hover {
  background-color: #489AA3
}


.unread {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 75%,  from(#FFFFFF), to(#489AA3));
}

